@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: white;
    background: #EBF2F5;
}

:root {
    font-size: 62.5%
}

body,
input,
button,
textarea {
    /* font-weight: 400;
    font-size: 18px;
    line-height: 1;
    font-family: 'Nunito', sans-serif; */
    font: 400 1.8rem/1 'Nunito', sans-serif;
}