<div id="page-create-orphanage">

    <aside class="animate-right sidebar">
        <img src="/images/map-marker.svg" alt="Happy">
        <footer>
            <button onclick="history.back()">
                    <img src="/images/arrow-back.svg" alt="Voltar">
                </button>
        </footer>
    </aside>

    <main class='animate-appear width-sidebar'>

        <form onclick="return false">

            <fieldset>
                <legend>Dados</legend>

                <div class="map-container">
                    <div id="mapid"></div>
                    <input type="hidden" name="lat">
                    <input type="hidden" name="lng">
                    <footer>
                        <a href="#" id="select-point">Clique no mapa para adicionar a localização</a>
                    </footer>
                </div>


                <div class="input-block">
                    <label for="name">Nome</label>
                    <input id="name" name="name" type="text" required>
                </div>

                <div class="input-block">
                    <label for="about">Sobre <span>Máximo de 300 caracteres</span></label>
                    <textarea id="about" name="about" type="text" required></textarea>
                </div>

                <div class="input-block">
                    <label for="whatsapp">Número de Whatsapp</label>
                    <input id="whatsapp" name="whatsapp" type="text" required>
                </div>

                <div class="input-block images">
                    <label for="images">Fotos</label>
                    <div class="images-upload" id="images">
                        <div class="new-upload">
                            <input name="images" id='images1' placeholder="Cole o link da foto aqui" required type='url'>
                            <span onclick="deleteField(event)">
                                    <img src="/images/remove-file.svg" alt="Remover imagem">
                                </span>
                        </div>
                    </div>
                    <button type="button" onclick="addPhotoField()">
                            <img src="/images/add-file.svg" alt="Nova imagem">
                        </button>
                </div>
            </fieldset>

            <fieldset>
                <legend>Visitação</legend>

                <div class="input-block">
                    <label for="instructions">Instruções</label>
                    <textarea id="instructions" name="instructions" type="text" required></textarea>
                </div>

                <div class="input-block">
                    <label for="opening_hours">Horário das visitas</label>
                    <input id="opening_hours" name="opening_hours" type="text" required>
                </div>

                <div class="input-block">
                    <label for="open_on_weekends">Atende fim de semana?</label>
                    <input type="hidden" name="open_on_weekends" id="open_on_weekends" value="1" required>
                    <div class="button-select">
                        <button type="button" data-value="1" onclick="toggleSelect(event)" class="active">Sim</button>
                        <button type="button" data-value="0" onclick="toggleSelect(event)">Não</button>
                    </div>
                </div>

                <button type="submit" onclick="createOrphanage()" class="primary-button">Confirmar</button>

            </fieldset>



        </form>

    </main>

</div>