<div id="page-landing">

    <div id="container">

        <header>
            <img id='logo' class="animate-up" src="images/logo.svg" alt="Logo">
            <div class="location animate-up">
                {{#if user}}
                    <a href="#">Olá, {{GetName user}}</a>   
                {{else}}
                    <a href="/login">Login</a> 
                {{/if}}
                <strong>Rio do Sul</strong>
                <p>Santa Catarina</p>
            </div>
        </header>

        <main>
            <h1 class="animate-up">Leve felicidade para o mundo</h1>
            <section class='visit '>
                <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças</p>
                <a class="animate-up" href="/orphanages" title="Visite orfanatos">
                    <img src="images/arrow.svg" alt="Mapa">
                </a>
            </section>
        </main>

    </div>

</div>