<div id="page-landing">

    <div id="container">

        <header>
            <a href="/"><img id='logo' class="animate-up" src="images/logo.svg" alt="Logo"></a>
        </header>

        <main>
          <form action="#" method="post" class="animate-up" onsubmit="login();return false">
              <fieldset>
                  <legend>
                    <span>Login</span>
                    <span class="register"><a href="/register">Registrar-se</a></span>
                  </legend>

                  <div class="input-block">
                      <label for="username">Email</label>
                      <input id="username" name="username" type="email" required>
                  </div>

                  <div class="input-block">
                      <label for="password">Senha</label>
                      <input id="password" name="password" type="password" required>
                      <a href="/forgetpassword">Esqueci minha senha</a>
                      <button type="submit" class="primary-button">Login</button>
                  </div>


              </fieldset>

          </form>
        </main>

    </div>

</div>